
{% extends 'baseb.html.twig' %}
{% block main %}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Category</h1>
    </div><!-- End Page Title -->
    {{ form_start(formcat,{attr:{novalidate:'novalidate'}}) }}

    <section class="section">
      <div class="row">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Let's Add Category</h5>
              <!-- General Form Elements -->
              <label for="inputPassword" class="col-sm-2 col-form-label">NAME OF CATEGORY</label>
              <div class="col-sm-10">
                  {{ form_widget(formcat.category_name, {'attr': {'class': 'form-control'}}) }}
                  {{ form_errors(formcat.category_name, {'attr': {'class': 'text-danger'}}) }}
                </div>

              <button type="submit" class="btn btn-primary">Submit Category</button>
              {{ form_end(formcat) }}


            </div>
        </div>
      </div>
    </section>

  </main>
{% endblock %}