{% extends 'baseb.html.twig' %}

{% block body %}
    <canvas id="myChart" width="300" height="300"></canvas>
    <div style="display: flex; justify-content: center; margin-top: 20px;">
        <button id="downloadChart" class="btn btn-primary" style="background-color: #ff0000; border-color: #007bff;">DOWNLOAD THIS CHART TO IMAGE</button>
        <a href="{{ path('listcategorie') }}" class="btn btn-secondary" style="background-color: #ff0000; border-color: #6c757d; margin-left: 10px;">BACK TO LIST OF CATEGORY</a> 
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var categoryLabels = {{ categoryLabels|raw }};
        var categoryCounts = {{ categoryCounts|raw }};
        var colors = ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)', 'rgba(255, 206, 86, 0.2)', 'rgba(75, 192, 192, 0.2)', 'rgba(153, 102, 255, 0.2)', 'rgba(255, 159, 64, 0.2)']; 

        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: categoryLabels,
                datasets: [{
                    label: 'NUMBER OF TRAININGS BY CATEGORY',
                    data: categoryCounts,
                    backgroundColor: colors,
                    borderColor: colors.map(color => color.replace('0.2', '1')), 
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                indexAxis: 'y', 
                barPercentage: 0.5, 
            }
        });

        
        document.getElementById('downloadChart').addEventListener('click', function() {
            var canvas = document.createElement('canvas');
            var ctx = canvas.getContext('2d');
            canvas.width = 1920; 
            canvas.height = 1080; 
            ctx.drawImage(document.getElementById('myChart'), 0, 0, canvas.width, canvas.height);
            var image = canvas.toDataURL('image/png'); 
            var link = document.createElement('a');
            link.href = image;
            link.download = 'chart.png';
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        });
    </script>
{% endblock %}
