{% extends 'baseb.html.twig' %}
{% block main %}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>List of Category</h1>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">
                <div class="card-body">
                  <h5 class="card-title">List of Category</h5>

                  <table class="table table-borderless datatable">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">name</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for categorie in categories %}
                    <tr>
                        <th scope="row">{{categorie.id}}</a></th>
                        <td>{{categorie.getCategoryName()}}</td>
                        <td><a href="{{ path( 'deletecategorie' , {'id' : categorie.id})}}" >deleteCategorie</a></td>
                        <td><a href="{{ path( 'editcategorie' , {'id' : categorie.id})}}" >editCategorie</a></td>
                    </tr>
                    {% endfor %}

                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End Recent Sales -->
      </div>
    </section>

  </main>
  {% endblock %}