{% extends 'base.html.twig' %}

{% block jobs %}
    <!-- ======= More jobs Section ======= -->
    <section id="more-services" class="more-services">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-4">
                    <h2 class="section-title">Jobs Categories</h2>
                </div>
                {% for job in jobs %}
                    {# Get the index of the current loop to access a specific image in the list #}
                    {% set imageIndex = loop.index0 %}

                    {# Check if the current index exists in the imageList array #}
                    {% set defaultImage = asset('img/clients/client-2.png') %}
                    {% set currentImage = imageIndex < imageList|length ? asset(imageList[imageIndex]) : defaultImage %}

                    <div class="col-md-6 mb-4 d-flex align-items-stretch">
                        <div class="card" style='background-image: url("{{ currentImage }}");' data-aos="fade-up" data-aos-delay="100">
                            <div class="card-body">
                                {% if job.category %}
                                    <h5 class="card-title">{{ job.category.categoryName }}</h5>
                                {% endif %}
                                <div class="read-more">
                                    <a href="{{ path('recruiter_job_related', {'id': job.id}) }}" class="btn btn-secondary"><i class="bi bi-info-circle"></i> Consulter</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
